.active_event {
  border-radius: 5px;
  background-color: blue;
  font-size: 18px;
  color: white;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
   z-index: 1 ;

   &:hover {
    font-weight: bold;
    background-color: red;
  }
}

.delete-event-btn {
  display: none;
  cursor: pointer;
  border: none;

}

.active_event:hover{
  width: 120%;
  height: 120%;
  color: white;
  z-index: 2;

 .delete-event-btn {
     display: flex;
     color: black;
   }
}