.header {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  position: fixed;
  width: 100%;
  z-index: 100;
  background: #FFF;
  border-bottom: 1px solid #00000024;
  padding-bottom: 85px;


  .navigation {
      display: flex;
      align-items: center;
      height: 64px;
      border-bottom: 1px solid #00000024;
      width: 100%;

      &-create{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 130px;
  border-radius: 30px;
  border: none;
  outline: none;
  box-shadow: 0 5px 28px rgba(0,0,0,0.25);
  background-color: white;
  margin-right: 50px;
  font-size: 18px;
  &:hover{
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 15px 15px rgba(0,0,0,0.22);
      transition: 1s;
      cursor: pointer;
  }
}

&-today{
  border: 1px solid grey;
  border-radius: 3px;
  height: 40px;
  width: 90px;
  background-color: transparent;
  outline: none;
  margin-right: 50px;
  font-weight: 700;
  &:hover{
      cursor: pointer;
      background-color: #d5d5d5;
      transition: 1s;
  }
}

  }
}

.week {
  display: flex;
  justify-content: space-around;
  padding-left: 40px;
  padding-bottom: 10px;
  margin-top: -15px;
  //border-bottom: 1px solid #00000024;
  position: fixed;
  width: 100%;
  z-index: 1000;
 // background-color: #FFF;

}
.week-days {
  font-size: 16px;
   opacity: 0.5;
   padding-bottom: 10px;
}
.day-week {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  //height: 100%;
  font-size: 24px;
  color: black;
  border-radius: 100%;

  &__current {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 46px;
   background-color: blue;
  }
}

.fa-plus{
  margin-right: 10px;
}


.navigate__arows{
  display: flex;
  margin-right: 50px;
  cursor: pointer;
  &_right{
      background-image: url("https://img.icons8.com/material-sharp/24/000000/forward.png");
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-position: center;
      background-size: auto;
  
  }
  &_left{
      background-image: url("https://img.icons8.com/material-sharp/24/000000/forward.png");
      width: 35px;
      height: 35px;
      border-radius: 50%;
      transform: rotate(180deg);
      background-position: center;
      background-size: auto;
      
  }
}
