@import "./header.scss";
@import "./pop.scss";
@import "./main.scss";
@import "./redLine.scss";

* {
  box-sizing: border-box;
}

html {
  font-family: Roboto;
}

body {
  width: 100%;
  height: 100%;
}
